body {
    background: linear-gradient(90deg, #000000 0%, #292929 100%);
    color: white;
    font-family: "Cascadia Code";
    font-weight: 100;
    margin: 10px;
    padding: 0;
  }

  h2 {
    margin: 0;
    margin-top: 20px;
  }

  h1 {
    margin-block:50px;
    font-weight: 100;
    text-align: center;
  }

  hr {
    padding: 0;
    margin: 0;
    border: 1px solid gray;
  }

  p {
    margin: 0;
  }



  section {
    max-width: 800px;
    margin:auto;
  }

  .title {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    font-size: 20px;
  }

  hr + .title {
    margin: 0px!important;
  }

  strong {
    font-size: 18px;
  }

  .detail {
    font-size: 16px;
  }

  footer {
    text-align: center;
    color: gray;
  }
  